
@{
    ViewBag.Title = "demoFrom";
}

<h2>demoFrom</h2>
<form method="post">
    <input name="txtA" type="text" value="@ViewBag.a"/>X2 +
    <input name="txtB" type="text" value="@ViewBag.b"/>X +
    <input name="txtC" type="text" value="@ViewBag.c"/> = 0
    <br /><br />
    <input type="submit" value="Ok" />X = @ViewBag.Ans
</form>
